<div class="uiEditPanel">
    <div class="uiEditRow">
        <div class="uiEditControlPanel uiCell componentControl">
            <div class="p2Panel ">
                <div class="p2PanelAlign">
                    <div class="p2Header">
                        Component
                    </div>
                    <div class="p2ContentPanel p2ContentPanelGray">
                        <div class="containerBox">
                            Container
                        </div>
                        <hr>
                        <div class="componentBox">
                            Label
                        </div>
                        <div class="componentBox">
                            Hidden
                        </div>
                        <div class="componentBox">
                            Auto Complete
                        </div>
                        <div class="componentBox">
                            Text Box
                        </div>
                        <div class="componentBox">
                            Text Area
                        </div>
                        <div class="componentBox">
                            Drop Down
                        </div>
                        <div class="componentBox">
                            Check Box
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uiCell">
            <div class="p2Panel ">
                <div class="p2PanelAlign">
                    <div class="p2Header">
                        Example Form
                    </div>
                    <div class="p2ContentPanel p2ContentPanelGray">
                        <app-dynamic-form [formCreation]="formCreation" (panelCallBack)="processPanelCallBack($event)"></app-dynamic-form>
                    </div>
                </div>
            </div>
        </div>
        <div class="uiPropertiesPanel uiCell propertiesControl">
            <div class="p2Panel ">
                <div class="p2PanelAlign">
                    <div class="p2Header">
                        Properties
                    </div>
                    <div class="p2ContentPanel p2ContentPanelGray p2DynamicTabPanel">
                        <app-dynamic-tab #tabRef [tabCreation]="propertiesTab" (callBack)="precessTabCallBack($event)"></app-dynamic-tab>
                        <div class="tabContentPanel {{tabRef.getCssStatus(0)}}">
                            <app-dynamic-form [formCreation]="formPropertiesForm"></app-dynamic-form>
                            <div class="btnPanel">
                                <div class="btn-style-dynamic btn-small">Set</div>
                            </div>
                        </div>
                        <div class="tabContentPanel {{tabRef.getCssStatus(1)}}">
                            <app-dynamic-form [formCreation]="containerPropertiesForm"></app-dynamic-form>
                            <div class="btnPanel">
                                <div class="btn-style-dynamic btn-small">Set</div>
                            </div>
                        </div>
                        <div class="tabContentPanel {{tabRef.getCssStatus(2)}}">
                                <div class="fixMaxHeight" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                                    <app-dynamic-form [formCreation]="componentPropertiesForm" ></app-dynamic-form>
                                </div>
                            <div class="btnPanel">
                                <div class="btn-style-dynamic btn-small">Set</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uiCell">
    <div class="p2Panel ">
        <div class="p2PanelAlign">
            <div class="p2Header">
                Generate From Data
            </div>
            <div class="p2ContentPanel">
                <textarea class="importTextArea" [(ngModel)]="importData.data">
                </textarea>
                <div class="btn-style-dynamic" (click)="processGenerate()">Generate</div>
            </div>
        </div>
    </div>
</div>