<div class="dp2FieldPanel {{columnCalculate}} {{getCustomClass()}}" [style.width]="fieldCreation.width" (click)="processPanelCallBack($event)">
    <app-dynamic-form-label-panel
            [fieldCreation]="fieldCreation"
            [option]="option"
            [width]="getLabelWidth()"></app-dynamic-form-label-panel>
    <div class="dp2InputBox {{option.labelAlign == 'left' ? 'singleLine' : ''}}" [style.width]="getInputWidth()">
        <ng-container *ngFor="let dataIndex of objKeys(data[fieldCreation.fieldName])">
            <div class="posRelative">
                <input type="textbox"
                       #dp="ngx-mydatepicker"
                       ngx-mydatepicker
                       [options]="myOptions"
                       class="dateWidth {{fieldCreation.require && (data[fieldCreation.fieldName][dataIndex] == '' || !data[fieldCreation.fieldName][dataIndex]) ? 'require' : ''}}"
                       id="id_{{(option.namePrefix ? option.namePrefix+'_':'')}}{{fieldCreation.fieldName}}{{(dataIndex > 0 ? '_'+dataIndex:'')}}"
                       name="{{fieldCreation.fieldName}}"
                       [(ngModel)]="data[fieldCreation.fieldName][dataIndex]"
                       [readonly]="getDisable()"
                       (focus)="processCallBack($event,'focus',dataIndex)"
                       (blur)="processBlur($event,'blur',dataIndex)"
                       (keyup)="processKeyUp($event,'keyup',dataIndex)"
                       (keypress)="processCallBackKeyPress($event,'keypress',dataIndex)"
                       (keydown)="processKeyDown($event,'keydown',dataIndex)"
                       (click)="processCallBack($event,'click',dataIndex)"
                       (change)="processCallBack($event,'change',dataIndex)"
                       (dateChanged)="onDateChanged($event,dataIndex)"
                       maxlength="10"/>
                <div class="dateToggle {{option.mode == 'view' || fieldCreation.readonly || (option.enableRowIndex && option.enableRowIndex[rowIndex] == false) ? 'dateToggleDisable':''}}" (click)="getDisable() ? disableToggle():dp.toggleCalendar()"><span class="glyphicon glyphicon-calendar"></span>
                </div>
                <div *ngIf="fieldCreation.multiValue && !(getDisable())"
                     class="deleteBtnWithDate"
                     (click)="deleteMultiVal(dataIndex)"><span class="glyphicon glyphicon-minus"></span></div>
            </div>
        </ng-container>
        <div class="dp2Note" id="id_note_{{(option.namePrefix ? option.namePrefix+'_':'')}}{{fieldCreation.fieldName}}">
            {{fieldCreation.note}}
        </div>
        <div *ngIf="fieldCreation.multiValue && !(getDisable())" class="addBtn"
             (click)="addMultiVal()"><span
                class="glyphicon glyphicon-plus"></span></div>
    </div>
</div>
